# Google reCAPTCHA v2 Credentials
# Get keys from: https://www.google.com/recaptcha/admin/create
# Select "reCAPTCHA v2" -> "I'm not a robot" Checkbox

# Client-side site key (Public):
VITE_RECAPTCHA_SITE_KEY=

# Server-side secret key (Private):
RECAPTCHA_SECRET_KEY=
